body {
  background: #CDACA1;
  margin: 40px;
  height: 2000px;
}

button {
  border: none;
  padding: 15px 30px;
  color: #4E3822;
  width: 50%;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.main-form {
  background: #BBDFC5;
  width: 50%;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow:
  2.7px 1.7px 2.8px rgba(0, 0, 0, 0.033),
  7.5px 4.8px 7.8px rgba(0, 0, 0, 0.05),
  18.1px 11.5px 18.7px rgba(0, 0, 0, 0.069),
  60px 38px 62px rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 30px;
}

input {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
}

h3 {
  padding: 30px 0;
  text-align: center;
  font-style: italic;
}

ul {
  list-style: none;
  display: grid;
  gap: 20px 40px;
  grid-template-columns: auto auto auto;
  
}

li {
  background: #FFCB77;
  border: 2px solid #BADEFC;
  text-align: center;
  border-radius: 20px;
}
